/*公共*/
#iframe {
    width: 100%;
    height: 744px;
}
.container-fluid{
    margin: 0;
    padding: 0;
    font-family:"Microsoft YaHei";
    font-size: 16px;
}
.home{
    padding-top:10px;
    padding-bottom: 10px;
}
 .down,.up{
    color:#fff;
    cursor:pointer; 
}
.img{
    background: url(../images/jingling.png) 225px 0px;
}
#tet{
    overflow-y:scroll; 
    display:none;
    width:420px;
    height: 90px;
    border: 1px solid #ccc;
    margin-left: 113px;
    margin-top: 20px;
}
.navigation{
    background-color: #272727;
    padding: 0;
    margin: 0;
}
.navigation .nav_left{
    line-height: 80px;
    font-size: 18px;
    vertical-align: text-bottom;
    color: #fff;
    font-weight: bold;
    margin-left: 95px;
}
.navigation .nav_left img{
    vertical-align: text-bottom;
}
 .list,.nav_left,.home div{
    margin: 0;
    padding: 0;
}
.navigation .list ul {
    list-style: none;
    width:100%;
    float: left;
    margin: 0;
    padding: 0;
    height:79px;
    text-align: center;
    box-sizing: border-box;
}
.navigation .list ul li{
    float: left;
    width:13%;
    height:80px;
    border-left:1px solid #fff;
}
.navigation .list ul li:hover{
    background-color: #e20101;
}
.navigation .list ul li a{
    color:#fff;
    font-size: 18px;
    text-decoration: none;
}
.navigation .list ul li span{
    display: inline-block;
    margin-top: 5px;
    width:45px;
    height:45px;
}
.navigation .list ul li span:nth-child(1){
    background: url(../images/icon5.png) center center no-repeat;
}
.navigation .list ul li span:nth-child(2) {
    background: url(../images/icon4.png) center center no-repeat;
}
.navigation .list ul li span:nth-child(3) {
    background: url(../images/icon3.png) center center no-repeat;
}
.navigation .list ul li span:nth-child(4) {
    background: url(../images/icon2.png) center center no-repeat;
}
.navigation .list ul li span:nth-child(5) {
    background: url(../images/icon1.png) center center no-repeat;
}
/**我的工作**/
.row{
    font-size: 18px;
    margin-top: 26px;
    margin-right: 0;
    margin-left: 0;
}
.context{
    margin-left: 3px;
}
.container-fluid .header_row{
    margin-top: 13px;
}
.s-span{
  color: #9a9a9a;
}
.border_bottom{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    padding-left: 85px;
}
.img_01{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/jingling.png) 84px 0px;
    position: relative;
    top:6px;
}

/*分页*/
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #f00;
    color: #fff;
}
.nav-pills>li>a {
    border-radius: 0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;

}
.left_nav .nav  li{
    text-align: center;
    font-size: 14px;
}
.content .nav .ts1 p{
    width:90px;
    height:1px;
    background: url(../images/newicon_1.png) center center no-repeat;
}
.nav-pills>li.active, .nav-pills>li.active:focus, .nav-pills>li.active:hover {
    color: #fff;
    background-color: #f00;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #f00;
    padding-bottom: 10px;
}
.content .nav .ts1 span{
    padding-top: 40px;
    padding-left:95px;
    display: block;
    width:36px;
    height:31px;
    background: url(../images/newicon_2.png) center center no-repeat;
}
.content .nav .ts2 span{
    padding-top: 40px;
    padding-left:95px;
    display: block;
    width:36px;
    height:31px;
    background: url(../images/newicon_3.png) center center no-repeat;
}
.content .nav .ts2 p{
    width:90px;
    height:1px;
    background: url(../images/newicon_1.png) center center no-repeat;
}
/*TODO 主体内容*/
.header_title span:nth-child(2){
    font-weight:bold;
}
 .que{
        display:inline-block;
        margin-left:50px;
        background: #4d6f8b;
        width:80px;
        height:30px;
        border-radius: 2px;
        color:#fff;
        text-align:center;
        line-height:30px;
        cursor:pointer;
    }
.crumbs div{
    padding: 0;
}
.crumbs{
    padding-left: 85px;
}
.task,.task>p{
   padding: 0;
    font-size: 18px;
    font-weight:normal;
}
.task p label{
    font-weight:normal;
}
.task p span{
    color:#f00;
}
.Newday_zc{
    margin-left: 50px;
}
.table_list1,.table_list2,.table_list3{
    padding: 0;
    text-align: center;
}
.table_list1 table{
    border-collapse: collapse;
    border:1px solid #ccc;
}
.table_list1 thead tr th{
    border:1px solid #ccc;
    background-color: #4d6f8b;
    height:35px;
    line-height: 35px;
    font-size: 16px;
    color:#fff;
    text-align: center;
}
.table_list1 tbody tr td{
    border:1px solid #ccc;
    font-size: 18px;
}
.sousuo{
	width: 80px;
    height: 35px;
    line-height: 30px;
    border: none;
    border-radius: 2px;
    background-color: #46b8da;
    margin-left: 185px;
	color:#fff;
}
.replacement{
	width: 80px;
    height: 35px;
    line-height: 30px;
    border: none;
    border-radius: 2px;
    background-color: #46b8da;
	margin-left:20px;
	color:#fff;
}
.table_list2 thead tr th{
    border:1px solid #ccc;
    background-color: #4d6f8b;
    height:35px;
    line-height: 35px;
    font-size: 16px;
    color:#fff;
    text-align: center;
}
.table_list2 tbody tr td{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}
.table_list2 tbody tr td span{
    cursor: pointer;
    color:#6999d2;
}
span[flag='look_btn'],span[flag='veri_btn'],span[flag='inform_btn']{
	color:#056dc2;
	cursor:pointer;
}
.table_list3 thead tr th{
    border:1px solid #ccc;
    background-color: #4d6f8b;
    height:35px;
    line-height: 35px;
    font-size: 16px;
    color:#fff;
    text-align: center;
}
.table_list3 tbody tr td{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}
.ser{
	margin-left:250px;
}
.send{
    margin-left: 240px;
}
/**TODO 搜索弹出框*/
#sousuo .form-control{
    margin-top: 30px;
    width: 40%;
    display: inline-block;
}
#sousuo .checkbox-inline{
    margin-top: 35px;
}
#sousuo .btn_s{
    margin-left: 218px;
    width: 100%;
}
#firstname6{
    margin-bottom: 40px;
}
#myModalLabel,#myModalLabel2,#myModalLabel3,#myModalLabel4{
    text-align: center;
    color:#fff;
    font-size: 24px;
}
.modal-header{
    background-color: #4d6f8b;
}
span[aria-hidden="true"] {
    color:#fff;
}
.modal-content{
    border-radius: 2px;
}
#optionsRadios1{
    margin-right: 50px;
}
#optionsRadios2,#optionsRadios4,#optionsRadios7,#optionsRadios8,#optionsRadios9{
    margin-right: 10px;
}
#optionsRadios5{
    margin-right: 25px;
}
#optionsRadios3,#optionsRadios6{
    margin-right: 38px;
}
.checkbox-inline > p{
	display:inline-block;
	width:103px;
}
.modal-footer{
    text-align: center;
    border: none;
    padding-right: 60px;
}
.modal-footer .btn{
    width:126px;
}
.form-control{
 border-radius:0;
 }
.modal-footer .tolerant{
    margin-right: 80px;
}
.form-group{
    margin-bottom: 10px;
}
.pitch_on{
    width:28px;
    height:28px;
    display: inline-block;
    line-height: 28px;
    background: url("../images/jingling.png") 0 0 ;
	vertical-align: middle;
    margin-left: 20px;
}
.s_name{
    display:inline-block;
    width:110px;
    text-align: center;
}
#myModal .body_t1{
	line-height:10px;
}
/*TODO 查看弹出框*/
.checkbox-inline1{
    text-align: right;
    width: 190px;
}
.control-label{
	width:500px;
	height:10px;
	line-height:20px;
	text-align:left;
	margin-left:90px;
}
.hh{
	margin-bottom:20px;
}
.control-label1 label{
	width:150px;
}
.control-label1{
	width:400px;
	height:50px;
	line-height:30px;
	text-align:left;
	margin-left:90px;
}
/*TODO 审核*/
.modal-body{
    line-height: 40px;
}
.tongg label span{
    width:28px;
    height:28px;
    display: inline-block;
    vertical-align: middle;
    background:url("../images/jingling.png") 0 0 ;
}
.tongg  label .active{
    background: url("../images/jingling.png") 225px 0;
}
.modal-footer{
    margin-bottom: 30px;
}
/*TODO　通知*/
.huiyuan span{
    margin-left: 50px;
}
.user span{
    margin-left: 50px;
}
.user label{
    text-align: right;
}
.btns{
    margin-left: 215px;
}
.btns button{
    width:126px;
}
.zhangh1 label,.zhangh2 label{
    float: left;
    margin-right: 10px;
}
.zhangh1 div,.zhangh2 div{
    width:330px;
    float: left;
}
.zhangh1>label>span,.zhangh2>label>span{
    width:28px;
    height:28px;
    display: inline-block;
    background: url(../images/jingling.png) 0 0;
    vertical-align: middle;
    margin-top: -5px;
}
.inform div>label>span.img{
    background: url(../images/jingling.png) 225px 0;
}
.shuru textarea{
    border: 1px solid #ccc;
    width:330px;
    height:100px;
    overflow-y:scroll ;
    display: inline-block;
}
.shuru label{
    color:#f00;
    vertical-align: top;
	margin-left:55px;
}
.out{
	display:none;
}
.down,.up{
    color:#fff;
    cursor:pointer;
}
.down:hover{
    color:#4d6f80;
}
    /*照片*/
    #imgs{
        display:none;
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:rgba(255,255,255,1);
        z-index:2000;
    }
    .users{
        width:70%;
        padding-left:110px;
        text-align:left;
        height:100px;
        line-height:40px;
        font-size:28px;
        position:fixed;
        top:1px;
        left:230px;
        z-index:9999;
        color:#fff;
        display:none;
    }
    .out{
        width:100px;
        height:100px;
        display:inline-block;
        position:fixed;
        top:-50px;
        left:1167px;
        background:#ccc;
        color:#fff;
        border-radius:50%;
        line-height:130px;
        font-size:50px;
        padding-left:10px;
        cursor:pointer;
    }
    #main{
        width:1300px;
        height:300px;
    }
    #main img{
        width:300px;
        height:200px;
        float:left;
        margin-right: 180px;
        margin-top: 40px;
    }
@media screen and (max-width: 1400px){
    /*选择日期*/
    .send{
        margin-left: 255px;
    }
    .an{
        padding-left:70px;
    }

    .today,.yesterday{
        display: inline-block;
        width: 40px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color:#31b0d5;
    }
   .hebdomad,.luna{
        display: inline-block;
        width: 70px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color:#31b0d5;
    }
    .and span:hover{
        background: #31b0d5;
        border-radius: 2px;
        color: #fff;
        cursor:pointer;
    }
    .and s{
        text-decoration: none;
    }
    .container-fluid{
        margin: 0;
        padding: 0;
        font-family:"Microsoft YaHei";
        font-size: 14px;
    }
    .home{
        padding-top:10px;
        padding-bottom: 10px;
    }
    .navigation{
        background-color: #272727;
        padding: 0;
        margin: 0;
    }
    .navigation .nav_left{
        line-height: 80px;
        font-size: 16px;
        vertical-align: text-bottom;
        color: #fff;
        font-weight: bold;
        margin-left: 95px;
    }
    .navigation .nav_left img{
        vertical-align: text-bottom;
    }
    .list,.nav_left,.home div{
        margin: 0;
        padding: 0;
    }
	#tcd{
		display:none;
	}
    .pages_Code{
        display: none;
        margin-top:16px;
    }
    .pageCode{
        width:100px;
    }
    .PagesCode{
        width:60px;
        height:30px;
        line-height:20px;
        text-align:center;
    }
    .navigation .list ul {
        list-style: none;
        width:100%;
        float: left;
        margin: 0;
        padding: 0;
        height:79px;
        text-align: center;
        box-sizing: border-box;
    }
    .navigation .list ul li{
        float: left;
        width:13%;
        height:80px;
        border-left:1px solid #fff;
    }
    .navigation .list ul li:hover{
        background-color: #e20101;
    }
    .navigation .list ul li a{
        color:#fff;
        font-size: 16px;
        text-decoration: none;
    }
    .navigation .list ul li span{
        display: inline-block;
        margin-top: 5px;
        width:45px;
        height:45px;
    }
    .navigation .list ul li span:nth-child(1){
        background: url(../images/icon5.png) center center no-repeat;
    }
    .navigation .list ul li span:nth-child(2) {
        background: url(../images/icon4.png) center center no-repeat;
    }
    .navigation .list ul li span:nth-child(3) {
        background: url(../images/icon3.png) center center no-repeat;
    }
    .navigation .list ul li span:nth-child(4) {
        background: url(../images/icon2.png) center center no-repeat;
    }
    .navigation .list ul li span:nth-child(5) {
        background: url(../images/icon1.png) center center no-repeat;
    }
    /**我的工作**/
    .row{
        font-size: 16px;
        margin-top: 26px;
        margin-right: 0;
        margin-left: 0;
    }
    .context{
        margin-left: 3px;
    }
    .container-fluid .header_row{
        margin-top: 13px;
    }
    .s-span{
        color: #9a9a9a;
    }
    .border_bottom{
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px;
        padding-left: 85px;
    }
    .img_01{
        display: inline-block;
        width: 28px;
        height: 28px;
        background: url(../images/jingling.png) 84px 0px;
        position: relative;
        top:6px;
    }
	.record{
		width: 400px;
		margin-left: 105px;
		line-height: 25px;
		margin-top:20px;
	}
    .nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: #f00;
        color: #fff;
    }
    .nav-pills>li>a {
        border-radius: 0;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: #fff;

    }
    .left_nav .nav  li{
        text-align: center;
        font-size: 12px;
    }
    .content .nav .ts1 p{
        width:90px;
        height:1px;
        background: url(../images/newicon_1.png) center center no-repeat;
    }
    .nav-pills>li.active, .nav-pills>li.active:focus, .nav-pills>li.active:hover {
        color: #fff;
        background-color: #f00;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: #fff;
        background-color: #f00;
        padding-bottom: 10px;
    }
    .content .nav .ts1 span{
        padding-top: 40px;
        padding-left:95px;
        display: block;
        width:36px;
        height:31px;
        background: url(../images/newicon_2.png) center center no-repeat;
    }
    .content .nav .ts2 span{
        padding-top: 40px;
        padding-left:95px;
        display: block;
        width:36px;
        height:31px;
        background: url(../images/newicon_3.png) center center no-repeat;
    }
    .content .nav .ts2 p{
        width:90px;
        height:1px;
        background: url(../images/newicon_1.png) center center no-repeat;
    }
    /*TODO 主体内容*/
    .crumbs div{
        padding: 0;
    }
    .crumbs{
        padding-left: 85px;
    }
    .task,.task>p{
        padding: 0;
        font-size: 16px;
        font-weight:normal;
    }
    .task p label{
        font-weight:normal;
    }
    .task p span{
        color:#f00;
    }
    .btn{
      
    }
    .table_list1,.table_list2,.table_list3{
        padding: 0;
        text-align: center;
    }
    .table_list1 table{
        border-collapse: collapse;
        border:1px solid #ccc;
    }
    .table_list1 thead tr th{
        border:1px solid #ccc;
        background-color: #4d6f8b;
        height:35px;
        line-height: 35px;
        font-size: 16px;
        color:#fff;
        text-align: center;
    }
    .table_list1 tbody tr td{
        border:1px solid #ccc;
        font-size: 16px;
    }
    .table_list2 thead tr th{
        border:1px solid #ccc;
        background-color: #4d6f8b;
        height:35px;
        line-height: 35px;
        font-size: 16px;
        color:#fff;
        text-align: center;
    }
    .table_list2 tbody tr td{
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
    }
    .table_list2 tbody tr td span{
        cursor: pointer;
        color:#6999d2;
    }
    .table_list3 thead tr th{
        border:1px solid #ccc;
        background-color: #4d6f8b;
        height:35px;
        line-height: 35px;
        font-size: 16px;
        color:#fff;
        text-align: center;
    }
    .table_list3 tbody tr td{
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
    }
    /**TODO 搜索弹出框*/
    #myModalLabel,#myModalLabel2,#myModalLabel3,#myModalLabel4{
        text-align: center;
        color:#fff;
        font-size: 22px;
    }
	/*照片*/
	#imgs{
		display:none;
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background:rgba(255,255,255,1);
		z-index:2000;
	}
	.users{
		width:70%;
		padding-left:110px;
		text-align:left;
		height:100px;
		line-height:40px;
		font-size:28px;
        position:fixed;
        top:1px;
        left:230px;
        z-index:9999;
        color:#fff;
        display:none;
	}
	.out{
		width:100px;
		height:100px;
		display:inline-block;
		position:fixed;
		top:-50px;
		left:1167px;
		background:#ccc;
		color:#fff;
		border-radius:50%;
		line-height:130px;
		font-size:50px;
		padding-left:10px;
		cursor:pointer;
	}
	#main{
		width:1300px;
		height:300px;
	}
	#main img{
		width:300px;
		height:200px;
		float:left;
		margin-right: 180px;
        margin-top: 40px;
	}
    .que{
        display:inline-block;
        margin-left:50px;
        background: #4d6f8b;
        width:80px;
        height:30px;
        border-radius: 2px;
        color:#fff;
        text-align:center;
        line-height:30px;
        cursor:pointer;
    }
    .oppo{
        width:150px;
        height: 30px;
    }
}
	
