*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color: #5bc0de;
    border:0;
}
li{
    list-style: none;
}
.center .user{
    outline: none;
    font-size: 15px;
    padding-left: 5px;
    height: 33px;
    float: right;
}
  .current{
      font-size: 18px;
      color: #333;
  }

/*媒体查询*/ 
@media (max-width:1400px){
    .row{
    font-size: 20px;
    margin-top: 26px;
  }
  .container-fluid .header_row{
      margin-top: 13px;
  }
 .s-span{
    font-size: 16px;
    color: #999;
}
  .border_bottom{
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 10px;
  }
  .img_01{
      display: inline-block;
      width: 28px;
      height: 28px;
      background: url(../images/jingling.png) 84px 0px;
      position: relative;
      top:6px;
  }
  .table{
      margin-top: 20px;
  }
  .table-bordered > tbody > tr > th{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #fdffff;
    height: 40px;
    line-height: 40px;
    padding:0;
  }
  .table-bordered > tbody > tr > td{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #fdffff;
    padding: 0;
    height: 34px;
    line-height: 34px;
    vertical-align:middle;
  }
  .table-bordered > tbody > tr > td p{
    margin-bottom:0px;
  }
  .table-bordered > tbody > tr > td{
    color: #333;
  }
  .table-bordered > tbody > tr > th{
    background-color: #4d7086;
 }
  input[type=text]{
      font-size: 15px;
      padding-left: 5px;
      height: 33px;
  }
}
select{
    width: 131px;
    position: relative;
    top: 1px;
    font-size: 18px;
    padding: 4px;
    left: 66px;
}
.user{
    width: 175px;
    font-size: 18px;
   /* position: relative;
    left: 123px;
    top: 0px;*/
    border-radius: 0;
    padding: 4px;
   float: right;
}
.sousuo{
     width: 80px;
     font-size: 18px;
     line-height: 19px;
     background-color: #2ea4eb;
     float: right;
    border-radius: 0 5px 5px 0;
}
#queding{
    background-color: #2ea4eb;
}

/*大于1400px时的效果*/
@media (min-width:1401px){
    .row{
    font-size: 20px;
    margin-top: 26px;
  }
  .container-fluid .header_row{
      margin-top: 13px;
  }
  .s-span{
    font-size: 16px;
    color: #999;
  }
  .border_bottom{
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 10px;
  }
  .img_01{
      display: inline-block;
      width: 28px;
      height: 28px;
      background: url(../images/jingling.png) 84px 0px;
      position: relative;
      top:6px;
  }
  .img_02{
      display: inline-block;
      width: 28px;
      height: 28px;
      position: relative;
      background: url(../images/jingling.png) 0px 0px;
      top:6px;
  }
  .table{
      margin-top: 20px;
  }
  .table-bordered > tbody > tr > th{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #fdffff;
    height: 50px;
    line-height: 50px;
    padding:0;
  }
  .table-bordered > tbody > tr > td{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #fdffff;
    padding: 0;
    height: 40px;
    line-height: 40px;
   vertical-align:middle;
  }
  .table-bordered > tbody > tr > td p{
    margin-bottom:0px;
  }
  .table-bordered > tbody > tr > td{
    color: #333;
  }
  .table-bordered > tbody > tr > th{
    background-color: #4d7086;
  }
  .user{
    width: 207px;
    font-size: 18px;
   /* position: relative;
    left: 123px;
    top: 0px;*/
    border-radius: 0;
    padding: 4px;
   float: right;
}
.sousuo{
     width: 80px;
     font-size: 18px;
     line-height: 19px;
     background-color: #2ea4eb;
     float: right;
    border-radius: 0 5px 5px 0;
}
}