.container-fluid .header_row{
    margin-top: 13px;
}
.s-span{
  color: #9a9a9a;
  font-size: 18px;
}
.border_bottom{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}
.img_01{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/jingling.png) 84px 0px;
    position: relative;
    top:6px;
}
.weizhi{
    font-size: 20px;
}
.lists_text>td{
  padding-top: 1px;
}
#s-row{
    margin-top: 26px;
    border-bottom: 1px solid #e5e5e5;
     padding-bottom: 10px;
}
button:nth-child(2),
button:nth-child(3),
button:nth-child(4){
    margin-left: 20px;
}
.btn{
    font-size: 18px;
    line-height: 20px;
}
#button1{
    margin-top: 26px;
}
#m-table1{
    margin-top: 21px;
    padding-left: 0;
}
.table-bordered > tbody > tr > td{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
.table-bordered > tbody > tr > th{
    font-size: 18px;
}
.modal-dialog{
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -200px;

}
.modal-body>img{
  position: absolute;
  top: 47px;
  left: 146px;
}

.modal-content{
  height: 300px;
  position: relative;
}
.modal-body>p{
  position: absolute;
  top: 183px;
  left: 104px;
  font-size: 20px;
  color: #cc0000;
}
.tiaozhuan{
    border-radius: 5px;
    width: 50px;
    height: 28px;
    padding: 0 5px;
    border: 1px solid gray;
     margin-left: 8px;
     color: #428BCA;
}
#fenye{
    width: 36px;
    height: 28px;
    padding: 0 3px;
    color: #333;
    border-radius: 5px;
    border: 1px solid gray;
    margin-left: 8px;
    text-align: center;
    font-size: 18px;
}
.dangqian,.zuida{
    color: #333;
    margin-left: 8px;
}