*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color: #5bc0de;
    border:0;
}
li{
    list-style: none;
}
input{
    outline: none;
}
textarea{
    resize:none;
    overflow-y:scroll; 
    font-size: 16px;
    line-height:20px;
}
p{
  margin:0;
}
.row{
  font-size: 20px;
  margin-top: 26px;
}
.container-fluid .header_row{
    margin-top: 13px;
}
.s-span{
  color: #9a9a9a;
}
.border_bottom{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}
.img_01{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/jingling.png) 84px 0px;
    position: relative;
    top:6px;
}
.ipt{
    margin-top: 20px;
}
.look{
    cursor: pointer;
    color: #31b0d5;
}
.caozuo{
    display: inline-block;
    color: #31b0d5;
    cursor: pointer;
}
.ss-span{
    position: relative;
    top: -50px;
}
.img_02{
    display: inline-block;
    width: 28px;
    height: 28px;
    position: relative;
    background: url(../images/jingling.png) 0px 0px;
    top:6px;
}
.table{
    margin-top: 20px;
}
.table-bordered > tbody > tr > th{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #fdffff;
  height: 50px;
  line-height: 50px;
  padding:0;
}
.table-bordered > tbody > tr > td{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fdffff;
  padding: 0;
  height: 40px;
  line-height: 40px;
  vertical-align: hidden;
}
.table-bordered > tbody > tr > td{
  color: #333;
}
.table-bordered > tbody > tr > th{
  background-color: #4d7086;
}
.header_title{
    margin-left: 50px;
}
.modal-header{
    text-align: center;
    background: #4d708b;
    color: #fff; 
}
.modal-header h4{
    font-size: 24px;
}
/*弹出框距离顶部样式*/
.modal-body{
    font-size: 20px;
    line-height: 50px;
}
.modal-body input{
    height: 30px;
}
.modal-body .btn1{
    margin-left: 125px;
}
.modal-content{
  width:650px;
}

/*编辑权限*/
#shouquan .btn1{
  margin-left: 245px;
}
#shouquan .row{
  font-size: 16px;
}
#quanxian,#quanxian1,#quanxian2{
    font-size: 18px;
}
/*编辑*/
#bianji .modal-body,#tianjia .modal-body{
  margin-left: 100px;
}
#shanchu .modal-body{
    text-align: center;
}
#shanchu .modal-body .btn1{
    margin: 0;
}
.left{
  margin-left:80px;
}
.img{
  background:url(../images/jingling.png)225px 0px;
}

