*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color: #5bc0de;
    border:0;
}
li{
    list-style: none;
}
input{
    outline: none;
}
textarea{
    resize:none;
    overflow-y:scroll; 
    font-size: 16px;
    line-height:20px;
}
input[type=text]{
    font-size: 15px;
    padding-left: 5px;
    margin-top: 22px;
    width:152px;
}
.pages_Code{
  display:none;
}
#pro,#city{
  font-size: 16px;
}
/*媒体查询*/ 
@media (max-width:1400px){
    .row{
    font-size: 20px;
    margin-top: 26px;
  }
  .container-fluid .header_row{
      margin-top: 13px;
  }
  .s-span{
    color: #9a9a9a;
  }
  .border_bottom{
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 10px;
  }
  .img_01{
      display: inline-block;
      width: 28px;
      height: 28px;
      background: url(../images/jingling.png) 84px 0px;
      position: relative;
      top:6px;
  }
  .ipt{
      margin-top: 20px;
  }
  .look{
      cursor: pointer;
      color: #31b0d5;
  }
  .caozuo{
      display: inline-block;
      color: #31b0d5;
      cursor: pointer;
  }
  .img_02{
      display: inline-block;
      width: 28px;
      height: 28px;
      position: relative;
      background: url(../images/jingling.png) 0px 0px;
      top:6px;
  }
  .table{
      margin-top: 20px;
  }
  .table-bordered > tbody > tr > th{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #fdffff;
    height: 40px;
    line-height: 40px;
    padding:0;
  }
  .table-bordered > tbody > tr > td{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #fdffff;
    padding: 0;
    height: 34px;
    line-height: 34px;
    vertical-align:middle;
  }
  .table-bordered > tbody > tr > td p{
    margin-bottom:0px;
  }
  .table-bordered > tbody > tr > td{
    color: #333;
  }
  .table-bordered > tbody > tr > th{
    background-color: #4d7086;
  }
  .header_title{
      margin-left: 50px;
  }
  .modal-header{
      text-align: center;
      background: #4d708b;
      color: #fff; 
  }
  .modal-header h4{
      font-size: 24px;
  }
  /*弹出框距离顶部样式*/
  .modal-body{
      font-size: 18px;
      line-height: 50px;
      margin-left: 100px;
  }
  .modal-body input{
      height: 30px;
  }
  .modal-body .btn1{
      margin-left: 125px;
  }
  input[type=text]{
      font-size: 15px;
      padding-left: 5px;
      margin-top: 22px;
      width: 110px;
  }
  .modal-content{
    width:650px;
  }
  #buttonUpload .modal-content{
    width:435px;
  }
  .center{
    text-align: center;
  }
  .left{
    margin-left: 100px;
  }
  .btn2{
    margin-left: 170px;
  }
  .btn3{
    margin-left: 0;
  }
  .font{
      position: relative;
      top: -50px;
    font-size: 18px;
  }
  #shanchu .modal-body{
    text-align:center;
    margin-left: 0; 
  }
}

/*大于1400px时的效果*/
@media (min-width:1401px){
    .row{
    font-size: 20px;
    margin-top: 26px;
  }
  .container-fluid .header_row{
      margin-top: 13px;
  }
  .s-span{
    color: #9a9a9a;
  }
  .border_bottom{
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 10px;
  }
  .img_01{
      display: inline-block;
      width: 28px;
      height: 28px;
      background: url(../images/jingling.png) 84px 0px;
      position: relative;
      top:6px;
  }
  .ipt{
      margin-top: 20px;
  }
  .look{
      cursor: pointer;
      color: #31b0d5;
  }
  .caozuo{
      display: inline-block;
      color: #31b0d5;
      cursor: pointer;
  }
  .img_02{
      display: inline-block;
      width: 28px;
      height: 28px;
      position: relative;
      background: url(../images/jingling.png) 0px 0px;
      top:6px;
  }
  .table{
      margin-top: 20px;
  }
  .table-bordered > tbody > tr > th{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #fdffff;
    height: 50px;
    line-height: 50px;
    padding:0;
  }
  .table-bordered > tbody > tr > td{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #fdffff;
    padding: 0;
    height: 40px;
    line-height: 40px;
   vertical-align:middle;
  }
  .table-bordered > tbody > tr > td p{
    margin-bottom:0px;
  }
  .table-bordered > tbody > tr > td{
    color: #333;
  }
  .table-bordered > tbody > tr > th{
    background-color: #4d7086;
  }
  .header_title{
      margin-left: 50px;
  }
  .modal-header{
      text-align: center;
      background: #4d708b;
      color: #fff; 
  }
  .modal-header h4{
      font-size: 24px;
  }
  /*弹出框距离顶部样式*/
  .modal-body{
      font-size: 20px;
      line-height: 50px;
      margin-left: 100px;
  }
  .modal-body input{
      height: 30px;
  }
  .modal-body .btn1{
      margin-left: 125px;
  }
  .modal-content{
    width:650px;
  }
  .center{
    text-align: center;
  }

  #xinzeng .modal-body{
    margin-left: 100px;
  }
  .btn2{
    margin-left: 170px;
  }
  .btn3{
    margin-left: 0;
  }
/*  .hg{
    height: 580px;
    overflow-y:scroll; 
  }*/
  #left{
    display: none;
    position: absolute;
    z-index: 9999;
    width: 648px;
    height: 375px;
    background: #fff;
    top:6%;
    left:48%;
    margin-left: -274px;
    border:1px solid #ccc;
  }
  #left input{
    height: 40px;
  }
  #left .left_btn{
    margin-bottom: 100px;
    margin-top: 25px;
  }
  .shandow{
    display: none;
    position:absolute;
    width:100%;
    height: 100%;
    opacity: .3;
    background: #ccc;
    z-index: 666;
  }
  #shanchu .modal-body{
    text-align: center;
    margin-left: 0;
  }
  #buttonUpload .modal-content{
    width:435px;
  }


}
#whether,.siz{
    width:152px;
    text-align: center;
}
.xiala{
    width:152px;
}
#whethers{
    width:152px;
    text-align: center;
}



