<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>客服系统登录页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- TODO 兼容高速浏览模式 -->
    <meta name="renderer" content="webkit">
    <!-- TODO 移动设计优先(响应式) -->
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link href="http://img01.shanxinhui.com.cn/kefu/static/bootstrap/static/css/bootstrap.min.css?{$Think.config.html_version}" rel="stylesheet">
    <link rel="stylesheet" href="http://img01.shanxinhui.com.cn/kefu/static/css/index.css?{$Think.config.html_version}">
</head>
<body>
    <div class="container-fluid">
        <div class="content_bg">
            <img src="images/bg_1.png" class="img-responsive " alt="">
        </div>
        <div class="content_c col-lg-3 col-md-3 col-sm-3">
           <div class="form-group tupian1 col-lg-10 col-md-10 col-sm-10 col-lg-offset-1  col-md-offset-1 col-sm-offset-1 ">
               <img src="images/pic_1.png" class="img-responsive" alt="">
           </div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="firstname" class="col-sm-3 col-md-3 col-sm-3 col-lg-offset-1  col-md-offset-1 col-sm-offset-1  control-label">用户名 :</label>
                    <div class="col-lg-6 col-sm-6 col-sm-6">
                        <input type="text" class="form-control" id="firstname" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-3 col-md-3 col-sm-3 col-lg-offset-1  col-md-offset-1 col-sm-offset-1 control-label">密码 :</label>
                    <div class="col-lg-6 col-sm-6 col-sm-6">
                        <input type="password" class="form-control" id="lastname">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-4  col-md-offset-4 col-sm-offset-4">
                        <button type="button" class="btn col-lg-4 col-md-4 col-sm-4 login">登录</button>
                    </div>
                </div>
                <div class="form-group tupian2 col-lg-7 col-md-7 col-sm-7 col-lg-offset-2  col-md-offset-2 col-sm-offset-2 ">
                    <img src="images/pic_3.png" class="img-responsive "alt="">
                </div>
                <div class="form-group tupian3 col-lg-4 col-md-4 col-sm-4 col-lg-offset-2  col-md-offset-2 col-sm-offset-2 ">
                    <img src="images/pic_2.png" class="img-responsive "alt="">
                </div>
            </form>

        </div>
    </div>
    <script src="http://img01.shanxinhui.com.cn/kefu/static/js/jquery-1.12.3.js?{$Think.config.html_version}"></script>
    <script src="http://img01.shanxinhui.com.cn/kefu/static/bootstrap/js/bootstrap.min.js?{$Think.config.html_version}"></script>
    <script src="http://img01.shanxinhui.com.cn/kefu/static/js/index.js?{$Think.config.html_version}"></script>
</body>
</html>