<!DOCTYPE html>
<html lang="zh-cn">
<head>
    
    <meta charset="UTF-8">
    <title>超级管理员-我的首页-更多动态</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- TODO 兼容高速浏览模式 -->
    <meta name="renderer" content="webkit">
    <!-- TODO 移动设计优先(响应式) -->
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link href="http://img01.shanxinhui.com.cn/kefu/static/bootstrap/css/bootstrap.min.css?{$Think.config.html_version}" rel="stylesheet">
    <link rel="stylesheet" href="http://img01.shanxinhui.com.cn/kefu/static/css/pageCode.css?{$Think.config.html_version}">
    <link rel="stylesheet" href="http://img01.shanxinhui.com.cn/kefu/static/css/more.css?{$Think.config.html_version}">
</head>
<body>
<div class="container-fluid">
    <div class="row border_bottom header_row ">
            <div class=" header_title col-lg-10 col-md-10 col-sm-10">
                <span class="img_01"></span>
                <span> 当前位置：</span>
                <span class="s-span">工作开始&gt;&gt;我的首页&gt;&gt;更多动态</span>
            </div>
            <div class="back col-lg-2 col-md-2 col-sm-2">
                <a href="home.html">返回上一页&gt;&gt;</a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 options">
            <span class="today  selected" val="1">今日</span>
            <span class="yesterday" val="2">>昨日</span>
            <span class="forward_day" val="3">>前天</span>
            <span class="this_week" val="4">>本周</span>
            <span class="last_week" val="5">>上周</span>
            <span class="instant" val="6">>本月</span>
            <span class="uit" val="7">>上月</span>
            <span class="all" val="8">>所有</span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 record ">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>日期</td>
                        <td>操作者</td>
                        <td colspan="5">动态</td>
                    </tr>
                </thead>
                <tbody class="list-group">
                   
                </tbody>
            </table>
            <div class="col-lg-4 col-md-4 col-sm-4 col-mx-4"></div>
            <div style="text-align:center" class=" col-lg-16 col-md-16 col-sm-16 col-mx-16 tcdPageCode"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-mx-4"></div>
        </div>
</div>
<script src="http://img01.shanxinhui.com.cn/kefu/static/js/jquery-1.12.3.js?{$Think.config.html_version}"></script>
<script src="http://img01.shanxinhui.com.cn/kefu/static/bootstrap/js/bootstrap.min.js?{$Think.config.html_version}"></script>
<script src="http://img01.shanxinhui.com.cn/kefu/static/layer/layer.js?{$Think.config.html_version}"></script>
<script src="http://img01.shanxinhui.com.cn/kefu/static/js/public.js?{$Think.config.html_version}"></script>
<script src="http://img01.shanxinhui.com.cn/kefu/static/js/more.js?{$Think.config.html_version}"></script>
<script src="http://img01.shanxinhui.com.cn/kefu/static/js/common.js?{$Think.config.html_version}"></script>
</body>
</html>